<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/styletwo.css'/>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  </head>

  <img id="background" src="./images/load.gif">

<a href="../about"><button id="but">Start Game</button></a>

  <body>
 
  </body>
</html>
