<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/styletwo.css'/>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  </head>

	<img id="background2" src="./images/dr5.jpg">
  <img id="background" src="./images/load.gif">

<a href="../people"><button id="but">Start Game</button></a>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#but").on("mouseover", function () {
 			$("#background").hide();
    		$("#background2").show();
	});
});
</script>

  <body>
 <audio autoplay>
    <source src="../music/musicdr3.mp3" type="audio/mp3">
</audio>
  </body>
</html>
