<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='/stylesheets/styleone.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>

  </head>
  <body>

   <nav>
    <div class="nav-wrapper">
      <div>
        <a href="../">Home</a>
        <a href="../people">Characters</a>
        <a href="../notes">Notes</a>
        <a href="../trivia">Trivia</a>
      </div>
    </div>
  </nav>

<img class="responsive-img" id="background" src="./images/dr4.png">

    <form id="forming" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="game" placeholder="game">
        <input type="text" name="post" placeholder="post">
      <center><input class="sub" type="submit" value="Submit"></center>
    </form>
    
  <% if(data) { %>
    <% include ./partials/users %>
   <% } %>


  <% include ./partials/scripts %>

  <audio autoplay>
    <source src="../music/musicdr1.mp3" type="audio/mp3">
</audio>
  </body>
</html>
