<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='/stylesheets/styleone.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  </head>
  <body>

   <nav>
    <div class="nav-wrapper">
      <div>
        <a href="http://localhost:4000/">Characters</a>
        <a href="http://localhost:4000/notes">Notes</a>
        <a href="http://localhost:4000/trivia">Trivia</a>
      </div>
    </div>
  </nav>
    
   <span id="logo">Boss Shauna  &#9734; Danganronpa Sōsu</span>
<img class="responsive-img" id="background" src="./images/dr4.png">

    <form class="center-align" id="forming" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="game" placeholder="game">
        <input type="text" name="post" placeholder="post">
        <a class="btn waves-effect waves-purple pink"><i class="material-icons"><input class="sub" type="submit" value="Submit"></i></a>
    </form>
    
  <% if(data) { %>
    <% include ./partials/users %>
   <% } %>


  <% include ./partials/scripts %>

  <audio autoplay>
    <source src="../music/musicdr1.mp3" type="audio/mp3">
</audio>
  </body>
</html>
