<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>

  </head>
  <body>
    
    <form id="myForm" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="game" placeholder="game">
        <input type="text" name="post" placeholder="post">
        <input type="submit" value="Submit">
    </form>
    
  <% if(data) { %>
    <% include ./partials/users %>
   <% } %>


  <% include ./partials/scripts %>
  </body>
</html>
