<!DOCTYPE html>
<html>
    <head>
    <link rel='stylesheet' href='/stylesheets/stylefour.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
          

  </head>
  <body>

   <nav>
    <div class="nav-wrapper">
      <div>
        <a href="../about">Home</a>
        <a href="../people">Characters</a>
        <a href="../notes">Notes</a>
        <a href="../trivia">Trivia</a>
      </div>
    </div>
  </nav>

<img id="background" src="./images/dr3.jpg">


<div class="row">
      <div class="cols6">Danganronpa Trigger Happy Havoc</div>
      <div class="cols6">Danganronpa Goodbye Despair</div>
      <div class="cols6">Danganronpa Another Episode</div>
    </div>
    
  <audio autoplay>
    <source src="../music/musicdr4.mp3" type="audio/mp3">
</audio>

  </body>
</html>
