<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/stylethree.css'/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  </head>
  <body>

 <nav>
    <div class="nav-wrapper">
      <div>
        <a href="../about">Home</a>
        <a href="../people">Characters</a>
        <a href="../notes">Notes</a>
        <a href="../trivia">Trivia</a>
      </div>
    </div>
  </nav>


  <img id="background" src="./images/dr2.jpg">

    <div class="wrapper">
         <h1>Danganronpa Trivia</h1>

        <div class="ask"></div>
        <ul class="makeChoice"></ul>
        <div class="comments"></div>
        <div class="outcomes"></div>
        <button class="advance">Proceed</button>
    </div>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="text/javascript">

//Array of objects which hold trivia trivia, trivia answer choices and the correct answer
var trivia = [{
    ask: "Who believes that despair is the stepping stone for hope?",
    choices: ["Hajime", "Kyoko", "Sakura", "Nagito"],
    right: 3 
}, {
    ask: "Byakuya is the heir to which major company?",
    choices: ["Togami Industries", "Togami Corporation", " Super Togami", "BT inc."],
    right: 1
}, {
    ask: "What real game was played during chapter 2 of Danganronpa Goodbye Despair?",
    choices: ["Super Mario Bros", "Twilight Syndrome Murder Case", "Ultra Despair Girls", "Final Fantasy 7"],
    right: 1
}, {
    ask: "Who becomes the successor to Junko is Danganronpa Another Episode?",
    choices: ["Monaca", "Nagisa", "Kurokuma", "Kotoko"],
    right: 0
}, {
    ask: "What is the name of the computer program Chihiro created during the killing game?",
    choices: ["AI", "Chi Chat", " Alter Ego", "Kuma"],
    right: 2
}, {
    ask: "Who was inflicted with gullible despair disease during chapter 3 of Danganronpa Goodbye Despair?",
    choices: ["Nagito", "Hiyoko", "Mikan", "Ibuki"],
    right: 3
}, {
    ask: "What title was Makoto granted at the end of Danganronpa Trigger Happy Havoc?",
    choices: ["Ultimate Protagonist", "Ultimate Average Guy", "Ultimate Despair", "Ultimate Hope"],
    right: 3
}, {
    ask: "Who do the Warriors of Hope loathe?",
    choices: ["Kids", "Adults", " Hope", "Despair"],
    right: 1
}, {
    ask: "How many Deva's of Destruction does Gundham Tanaka own?",
    choices: ["Two", "Seven", "Four", "Zero"],
    right: 2
}, {
    ask: "Who does Kiyotaka form an unlikely bromance with?",
    choices: ["Mondo", "Hifumi", "Yasuhiro", "Makoto"],
    right: 0
}];


// Sets current ask and current score to 0. Sets the game end to false which means the game is still in play
var oneQuestion = 0;
var correct = 0;
var endQuiz = false;

$(document).ready(function () {

    //displays one ask from ask array 
    displayoneQuestion();
    $(this).find(".comments").hide();

    //advances to next ask in trivia array
    $(this).find(".advance").on("click", function () {
        if (!endQuiz) {

        //makes answer choices radio button so only one choice can be picked
            value = $("input[type='radio']:checked").val();

                if (value == trivia[oneQuestion].correctAnswer) {
                    correct++;
                }

                oneQuestion++;

                if (oneQuestion < trivia.length) {
                    displayoneQuestion();
                } else {
                    showScores();
            
                    $(document).find(".advance").text("Retry?");
                    endQuiz = true;
                }
            
        } else {
            endQuiz = false;
            $(document).find(".advance").text("Proceed");
            resetQuiz();
            displayoneQuestion();
            hiddenScores();
        }
    });

});


function displayoneQuestion() {

    var ask = trivia[oneQuestion].ask;
    var askClass = $(document).find(".wrapper > .ask");
    var makeChoice = $(document).find(".wrapper > .makeChoice");
    var shauna = trivia[oneQuestion].choices.length;

    $(askClass).text(ask);

    $(makeChoice).find("li").remove();

    var choice;
    for (i = 0; i < shauna; i++) {
        choice = trivia[oneQuestion].choices[i];
        $('<li><input type="radio" value=' + i + ' name="radio" />' + choice + '</li>').appendTo(makeChoice);
    }
}

function resetQuiz() {
    oneQuestion = 0;
    correct = 0;
    hiddenScores();
}

function showScores() {
    $(document).find(".wrapper > .outcomes").text("Correct Answers: Nagito, Togami Corporation, Twilight Syndrome Murder Case, Monaca, Alter Ego, Ibuki, Ultimate Hope, Adults, Four, Mondo");
    $(document).find(".wrapper > .outcomes").show();
}

function hiddenScores() {
    $(document).find(".outcomes").hide();
}
   </script>

</body>


   <audio autoplay>
    <source src="../music/musicdr2.mp3" type="audio/mp3">
</audio>

</html>