body {
	margin: 0;
	position: relative;
	background-color: deeppink;
}

ul {
	list-style-type: none;
}

#background {
position: fixed;
z-index: -4;
width: 100%;
}



input[type=text] {
	background-color: lightpink;
	border: 2px solid black;
	padding: 4px 4px 4px 4px;
	font-size: 16px;
	border-radius: 8px;
}

.sub {
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-radius: 8px;
	border: none;
	background-color: deeppink;
	padding: 10px 10px 10px 10px;
	margin-top: 20px;
}

.noted:hover {
	box-shadow: 8px 8px 5px black;
	opacity: .8;
}

#forming {
	margin-top: 20px;
	background-color: gray;
	width: 46%;
	border: 4px solid black;
	border-radius: 10px;
	text-align: center;
	margin-left: 25.2%;
	opacity: .3;
	padding: 30px 30px 30px 30px;
}

#forming:hover {
	box-shadow: 8px 8px 5px deeppink;
	opacity: .8;
}

.noted {
	background-color: deeppink;
	width: 24.7%;
	border: 4px solid black;
	border-radius: 10px;
	text-align: center;
	display: inline-flex;
	flex-direction: row;
	text-align: center;
	opacity: .3;
}

.edit{
	display: flex;
	position: absolute;
	text-align: center;
	border-radius: 8px;
	border: none;
	background-color: gray;
	padding: 10px 10px 10px 10px;
	margin-top: 20px;
	color: white;

}

.edit:hover {
	background-color: #A096A5;
	color: black;
}

.delete:hover {
	background-color: #A096A5;
	color: red;
}

.delete{
	display: flex;
	flex-direction: row;
	text-align: center;
	border-radius: 8px;
	border: none;
	background-color: gray;
	padding: 10px 10px 10px 10px;
	margin-top: 20px;
	color: white;
	margin-left: 80%;
}

input::placeholder {
	color: deeppink;
	text-align: center;
}

.nav-wrapper {
	background-color: deeppink;
}


a {
	text-decoration: none;
	color: black;
	font-size: 24px;
	padding-right: 120px;
	padding-left: 120px;
}

a:hover {
	color: white;
}