body {
	margin: 0;
	position: relative;
}

#background {
	width: 100%;
}

#background2 {
	width: 100%;
	display: none;
	filter: grayscale(80%);
}


#but {
	position: absolute;
	bottom: 18%;
	left: 46%;
	background-color: #E00D4A;
	color: lightgray;
	border-radius: 8px;
	border: none;
}

#but:hover {
	background-color: black;
	color: #E00D4A;
}

a {
	text-decoration: none;
	color: black;
	font-size: 24px;
	padding-right: 160px;
	padding-left: 160px;
}

a:hover {
	color: #30B4E5;
}