body {
	margin: 0;
	position: relative;
	background-color: deeppink;
}

  @font-face {
  font-family: "grunge";
    src: url("../fonts/grunge.ttf")
}

 @font-face {
  font-family: "cry";
    src: url("../fonts/cry.ttf")
}

 @font-face {
  font-family: "wonderland";
    src: url("../fonts/wonderland.ttf")
}

ul {
	list-style-type: none;
}

#background {
position: fixed;
z-index: -4;
width: 100%;
}

.nav-wrapper {
	background-color: #D7E293;
}


a {
	text-decoration: none;
	color: #E76792;
	font-family: cry;
	font-size: 24px;
	padding-right: 120px;
	padding-left: 120px;
}

a:hover {
	color: #9385F4;
}

.cols6 {
	display: inline-flex;
	border-radius: 8px;
	border: 4px black solid;
	background-color: lightgray;
	width: 30%;
	padding-bottom: 14%;
	opacity: .4;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 2%;
	font-family: grunge;
	text-shadow: 1px 1px deeppink;
	font-size: 26px;
	text-align: center;
}

.cols6:hover {
opacity: .8;
}

#icon {
width: 10%;
position: absolute;
z-index: 1;
right: 45%;
bottom: 10%;
}

#icon1{
width: 10%;
position: absolute;
z-index: 1;
right: 78%;
bottom: 10%;
}

#icon2 {
width: 10%;
position: absolute;
z-index: 1;
right: 11%;
bottom: 10%;
}

h2 {
	background-color: pink;
	opacity: .4;
	text-align: center;
}

h2:hover {
	opacity: .9;
	color: black;
}

#about {
	display: none;
	color: #9385F4;
}

p {
	display: none;
	color: #9385F4;
}
.pic {
	position: relative;
	right: 44%;
	top: 24%;
	width: 348px;
	height: 250px;
}